<ion-header>
  <ion-navbar>
    <ion-title>
      Record / Train Me
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Train me!</ion-list-header>
    <ion-item class="transparentbackground" style="padding-top:3px;text-align:left;">
      Name: &nbsp; <input type="text" (blur)="onNameChanged($event)" #nameInputField class="nameinput" style="width:80%" />
    </ion-item>
    <ion-item class="transparentbackground" style="padding-top:33px;text-align:center;">
      <button style="background-color:transparent;" (click)="onRecordStartStop()">
        <img src="assets/{{isRecording() ? 'onair3.gif' : 'r5.png'}}"
          [ngClass]="{'rot': isRecording()}"
          style="width:166px;height:166px;" #recordImg />
        <br>
        <span *ngIf="!isRecording()"> Record!</span>
        <span *ngIf="isRecording()"> Recording time: {{recordingTime()}} seconds</span>
      </button> 
    </ion-item>

    <lexng-soundlist></lexng-soundlist>

    <!-- DEBUG -->
    <!-- ion-item>
      <textarea style="min-height:199px;width:99%;">{{msg}}</textarea>
    </ion-item -->
  
  </ion-list>
</ion-content>
